<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NutshellBlog</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="z-nav" class="col-xs-12 col-sm-3 col-md-2 col-lg-2 affix p-20">
                <div class="text-center p-20">
                    <h1>曾安德</h1>
                    <p>代码如诗，如痴如醉</p>
                </div>
                <ul class="row" id="nav-list">
                    <li class="col-md-12 col-xs-4">
                        <a href="/">首页</a>
                    </li>
                    <li class="col-md-12 col-xs-4">
                        <a href="#">归档</a>
                    </li>
                    <li class="col-md-12 col-xs-4">
                        <a href="#">关于</a>
                    </li>
                </ul>
                <div id="icon-group">
                    <ul id="sidebar-social-list">
                        <li>
                            <a class="fa fa-github" href="https://github.com/zengande/" target="_blank"></a>
                        </li>
                        <li>
                            <a class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a class="fa fa-weibo"></a>
                        </li>
                        <li>
                            <a class="fa fa-rss"></a>
                        </li>
                    </ul>
                </div>
                <footer id="z-copyright">
                    <p class="text-center">&copy; 2018 - NutshellBlog</p>
                </footer>
            </div>
            <div id="z-post" class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                @RenderBody()
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
